name: "Pull Request Tasks"

on:
  pull_request:
    types: [opened, edited, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  common-pull-request-tasks:
    name: Common Pull Request Tasks
    permissions:
      pull-requests: write # For writing labels and comments on PRs
    uses: JackPlowman/reusable-workflows/.github/workflows/common-pull-request-tasks.yml@b3a5102da262cac160c035d00155ae0a2d8f9428 # v2026.01.16.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
