name: "Sync labels"

on:
  push:
    branches:
      - main
    paths:
      - .github/tool-configurations/labels.yml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  configure-labels:
    name: Configure Labels
    permissions:
      contents: read
      pull-requests: write # For writing labels to the repository
    uses: JackPlowman/reusable-workflows/.github/workflows/common-sync-labels.yml@505b0e735b5f357a8a4305e59f4d23faf6f24664 # v2025.11.02.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
